[credential "https://github.com"]
	helper = 
	helper = !/data/zopen/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/zopen/usr/local/bin/gh auth git-credential
[core]
	utf8ccsid = 819
[user]
	email = perry@ca.ibm.com
